<div class="modal" [ngClass]="{'modal-open': isModalOpen}">

  <!-- Modal content -->
  <div class="modal-content">
    <span (click)="closeModal()" class="close">&times;</span>
    <form [formGroup]="articleForm">
      <label for="title">title</label>
      <input type="text" name="title" formControlName="title" >
      <label for="imgUrl">img url</label>
      <input type="text" name="imgUrl" formControlName="imgUrl">
      <button *ngIf="selectedArticle.id === 0" type="button" (click)="saveArticle()">Save</button>
      <button *ngIf="selectedArticle.id !== 0" type="button" (click)="updateArticle()">Update</button>
    </form>
  </div>

</div>